<div class="modal modal_display_none modal_type_order">
    <div class="modal__content">
        <span class="modal__close">x</span>
        <h2 class="modal__header">Заполните заявку, и мы свяжемся с Вами в ближайшее время</h2>
        <form class="form modal__form">
            <input class="form__input" name="name" type="text" placeholder="Имя">
            <input class="form__input" name="phone" type="tel" placeholder="Телефон">
            <input class="form__input form__input_display_none" name="contentId" type="text">
            <button class="form__submit">Отправить</button>
        </form>
    </div>
</div>
<div class="modal modal_display_none modal_type_error">
    <div class="modal__content">
        <span class="modal__close">x</span>
        <h2 class="modal__header">Неполадки с сервером, позвоните нам по телефону!</h2>
    </div>
</div>
<div class="modal modal_display_none modal_type_success">
    <div class="modal__content">
        <span class="modal__close">x</span>
        <h2 class="modal__header">Спасибо за отправленную заявку! Мы свяжемся с Вами в ближайшее время!</h2>
    </div>
</div>