.modal__close {
  //background-image: url(modal__close.svg);
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: contain;
  width: 30px;
  height: 30px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover{
    fill: orange;
    text-decoration: none;
    cursor: pointer;
  }
}
