.form__submit
{
    background-color: orange;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    width: 200px;
    margin: 10px auto;
  border: 0;
    font-family: DejaVuSansCondensed-Bold, sans-serif;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: $orange2;
    }
  @include small{
    width: 120px;
  }
}
