<div class="section menu">
    <nav class="navigation ">
        <ul class="navigation__ul navigation__ul_type_main">
            <!--<img class="navigation__logo" src="logo.png" alt="">-->
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Главная</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">О нас</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Новости</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Доставка и оплата</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Контакты</a></li>
        </ul>
    </nav>
</div>
<div class="menu__stickyalias"></div>