<div class="section menu menu_place_normal">
    <!--<div class="menu__logo"></div>-->
    <div class="menu__mobile-button hamburger hamburger--spin">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <nav class="navigation menu__navigation">
        <ul class="navigation__ul navigation__ul_type_main">
            <!--<img class="navigation__logo" src="logo.png" alt="">-->
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Главная</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">О нас</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Новости</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Доставка и оплата</a></li>
            <li class="navigation__li navigation__li_type_main"><a href="#" class="navigation__a navigation__a_type_main">Контакты</a></li>
        </ul>
    </nav>
    <!--<div class="menu__language-button">Язык</div>-->
    <!--<div class="menu__search-button">Поиск</div>-->
</div>
<div class="menu__stickyalias"></div>