.section__header {
    //color: $header_grey;
    text-align: center;
    font-family: NotoSansRegular, sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    //color: $orange-light;
}
